PAYUNIT_API_USERNAME=
PAYUNIT_API_PASSWORD=
PAYUNIT_API_KEY=
PAYUNIT_MODE=


MONEROO_SECRET_KEY=
STRIPE_SECRET_KEY = 
STRIPE_PUBLISHABLE_KEY = 


# Flutterwave Settings
FLUTTERWAVE_PUBLIC_KEY = 
FLUTTERWAVE_SECRET_KEY = 
FLUTTERWAVE_PRODUCTION = 

# Postgres Database Settings
POSTGRES_DB = 'postgres'
POSTGRES_USER = 'postgres'
POSTGRES_PASSWORD = 'postgres123'
POSTGRES_HOST = 'db'
POSTGRES_PORT = 5432


SMTP_PASSWORD=''