{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "public/includes/_meta.html" %}
</head>
<body>

    <header class="site-header">
        {% include "public/includes/_header.html" %}
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    {% include "public/includes/_footer.html" %}


</body>
<script>
    const PROCESS_CHECKOUT_URL = "{% url 'process_checkout' %}";
    const CHECKOUT_URL = "{% url 'checkout' %}";
    const CART_URL = "{% url 'cart' %}";
</script>
<script src="{% static "js/cart.js" %}"></script>
</html>